---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: katalog-sync
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: katalog-sync
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: katalog-sync
subjects:
- kind: ServiceAccount
  name: katalog-sync
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: katalog-sync
rules:
- apiGroups:
  - ''
  resources:
  - nodes/proxy
  - nodes/metrics
  verbs:
  - get
- apiGroups:
  - ''
  resources:
  - pods/status
  verbs:
  - patch
- apiGroups:
  - ''
  resources:
  - pods
  verbs:
  - list
  - get
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    k8s-app: katalog-sync
  name: katalog-sync
  namespace: kube-system
spec:
  selector:
    matchLabels:
      k8s-app: katalog-sync
  template:
    metadata:
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
      labels:
        k8s-app: katalog-sync
    spec:
      serviceAccount: katalog-sync
      containers:
      - command:
        - "/bin/katalog-sync-daemon"
        args:
        - "--bind-address=:8501"
        image: quay.io/wish/katalog-sync:latest
        imagePullPolicy: IfNotPresent
        name: katalog-sync-daemon
      hostNetwork: true
      terminationGracePeriodSeconds: 5
      env:
      - name: NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
  updateStrategy:
    type: RollingUpdate

